<div class="col xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="debt in billing.billingCycle.debts">
                <td>
                    <input type="text" ng-model="debt.name" class="form-control" placeholder="Informe o nome"
                        ng-readonly="billing.tabDelete">
                </td>
                <td>
                    <input type="number" ng-model="debt.value" class="form-control" placeholder="Informe o valor"
                    ng-change="billing.calculateValues()"  ng-readonly="billing.tabDelete">
                </td>
                <td>
                    <input type="text" ng-model="debt.status" class="form-control" placeholder="Informe o status"
                        ng-readonly="billing.tabDelete">
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="billing.tabDelete" ng-click="billing.debtCreate($index)"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-warning" ng-disabled="billing.tabDelete" ng-click="billing.debtClone($index, debt)"><i class="fa fa-clone"></i></button>
                    <button class="btn btn-danger" ng-disabled="billing.tabDelete" ng-click="billing.debtDelete($index)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>